.drag-n-drop-list .list-item {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  cursor: move;
  background: var(--active-nav-tab);
  border-radius: 1rem;
  height: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.drag-n-drop-list .list-item .list-item-details {
  display: flex;
  align-items: center;
}

.drag-n-drop-list .list-item .list-item-details span {
  font-size: 1rem;
}


.drag-n-drop-list .list-item.dragging {
  opacity: 0;
}
