.rooms-search {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.rooms-search .qustions-search-value {
  width: calc(100% - 8px - 0.5rem);
  padding: 0rem 0.5rem;
}
