.message-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.message-page-content {
  background-color: var(--wrap-bg);
  padding: 3rem 2rem;
  border-radius: var(--border-radius);
}

.message-page .icon {
  font-size: 2.75rem;
}

.message-page h3 {
  margin-top: 0.75rem;
}

.message-page .message-page-message {
  margin-top: 0.25rem;
}

.message-page .message-page-children {
  margin-top: 1.75rem;
}
