.enter-videochat-modal {
  padding: 1rem;
}

.enter-videochat-modal button {
  width: 100%;
  height: 2rem;
}

.enter-videochat-info .user-avatar {
  width: 7rem;
  height: 7rem;
}

.enter-videochat-preview {
  display: flex;
  flex-direction: row;
}

.enter-videochat-preview video {
  width: 50%;
}

.enter-videochat-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.enter-videochat-column {
  display: flex;
  flex-direction: column;
}

.enter-videochat-modal select {
  width: 19rem;
}

.enter-videochat-modal progress {
  width: 100%;
}

.enter-videochat-content-container {
  margin-bottom: 1rem;
}

.enter-videochat-content-container-mini {
  margin-bottom: 0.25rem;
}

.enter-videochat-modal .switch-row {
  position: absolute;
  margin-top: -3.25rem;
  margin-left: 4.5rem;
  z-index: 2;
}

.enter-videochat-modal .switch-row .switch-button-container {
  margin-right: 1rem;
}

.enter-videochat-exit {
  display: block;
  margin-top: 1rem;
}

.enter-videochat-warning {
  font-size: 0.75rem;
  padding-bottom: 1rem;
}
