.messages-chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  animation: var(--fadeIn-animation-fast);
}

.messages-chat .tabs {
  margin-bottom: 0.5rem;
}

.messages-chat .videochat-transcripts {
  text-align: left;
  overflow: auto;
  flex: 1;
}
