.checkbox {
  position: relative;
  z-index: -1;
  opacity: 0;
}

.checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--button-border-color);
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-color: var(--wrap-bg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox:checked+label::before {
  border-color: var(--button-active-bg);
  background-color: var(--button-active-bg);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: var(--button-hover-border-color);
}

.checkbox:not(:disabled):active+label::before {
  background-color: var(--button-hover-border-color);
  border-color: var(--button-hover-border-color);
}

.checkbox:disabled+label::before {
  background-color: var(--button-bg);
}
