.nav-menu {
  font-size: var(--menu-font-size);
  margin: 0rem;
}

.nav-menu nav {
  display: contents;
}

.nav-menu a {
  text-decoration: none;
}

.nav-menu .fields-wrap {
  display: flex;
}

.nav-menu .field-wrap {
  line-height: 1.6;
  border-bottom: 0px solid var(--wrap-bg);
  width: 14rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-menu .active {
  border-bottom: 2px solid var(--active-nav-tab);
}

.nav-menu .nav-menu-user-content {
  display: flex;
  flex-direction: row;
}

.nav-menu .nav-menu-user-nickname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-menu .user-avatar {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-menu .theme-switch-mini {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
