.nav-menu-container {
  --menu-padding: 1.25rem;
  --icon-width: 1.375rem;
  --margin: 0.375rem;
  --width-collapsed: calc(5.125rem - var(--menu-padding) * 2);
  --width-expanded: calc(17.5rem - var(--menu-padding) * 2);
  --height: calc(100vh - (var(--margin) * 2 + var(--menu-padding) * 2));
  --menu-item-expanded-padding-x: 1.5rem;
  --caption-padding-left: 1rem;
  --caption-width: calc(var(--width-expanded) - var(--menu-padding) - var(--icon-width) - var(--caption-padding-left) - var(--menu-item-expanded-padding-x));
  display: inline-flex;
  margin: var(--margin);
  margin-right: 0rem;
  user-select: none;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  padding: var(--menu-padding);
  width: var(--width-expanded);
  font-size: var(--menu-font-size);
  background-color: var(--wrap-bg);
  color: var(--nav-item-color);
  border-radius: 1.125rem;
  height: var(--height);
  overflow-x: hidden;
  align-items: stretch;
  z-index: 5;
}

.nav-menu h1 {
  color: var(--nav-header-color);
}

.nav-menu a {
  color: var(--nav-item-color);
}

.nav-menu .nav-menu-item {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 0.625rem var(--menu-item-expanded-padding-x);
  margin-bottom: 0.5rem;
  border-radius: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
}

.nav-menu .nav-menu-item-first {
  padding-left: 0rem !important;
  margin-bottom: 3.375rem;
}

.nav-menu h1 {
  margin: 0;
}

.nav-menu hr {
  width: 100%;
  margin-top: auto;
  margin-bottom: 1.5625rem;
  border: none;
  border-top: 1px solid var(--active-nav-tab);
  opacity: 0.65;
}

.nav-menu .nav-menu-item-caption {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  padding-left: var(--caption-padding-left);
  text-align: left;
  overflow: hidden;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.nav-menu .nav-menu-item-first .nav-menu-item-caption {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
}

.nav-menu.collapsed {
  width: var(--width-collapsed);
}

.nav-menu.collapsed .nav-menu-item {
  padding: 0.625rem;
}

.nav-menu.collapsed .nav-menu-item-caption {
  padding-left: 0;
}

.nav-menu .icon {
  width: var(--icon-width);
  min-width: var(--icon-width);
  font-size: var(--icon-width);
}

.nav-menu .site-logo {
  width: 2.375rem;
  height: 2.375rem;
  border-radius: var(--border-radius);
}

.nav-menu a {
  text-decoration: none;
}

.nav-menu .active {
  background-color: var(--nav-item-active-background);
  color: var(--nav-item-active-color);
}

.nav-menu .active.no-active {
  color: unset;
  background-color: unset;
}

.nav-menu .nav-menu-theme-switch {
  display: flex;
  justify-content: flex-start;
  width: auto;
  padding-left: 0.3125rem !important;
}

.nav-menu .nav-menu-theme-switch .nav-menu-item-caption {
  display: flex;
  padding-left: 2.0625rem;
}

.nav-menu .nav-menu-theme-switch .icon {
  padding-left: 1rem;
}

.nav-menu .categories-list {
  text-align: left;
}

.nav-menu .nav-menu-build {
  width: var(--width-expanded);
}

.nav-menu-overlay {
  position: absolute;
  width: 17.5rem;
  height: calc(var(--height) + var(--menu-padding) * 2);
  text-align: left;
  left: 0;
  border-radius: 1.125rem;
  background-color: var(--wrap-bg);
  animation: slide 0.35s forwards;
  z-index: 3;
}

@keyframes slide {
  0% { left: 0rem; }
  100% { left: calc(var(--width-expanded) + var(--menu-padding) * 2 + 0.125rem); }
}

.nav-menu-overlay-gap {
  position: absolute;
  top: var(--margin);
  height: var(--height);
  width: 0.125rem;
  left: calc(var(--width-expanded) + var(--menu-padding) * 2);
  opacity: 0;
  z-index: 3;
}

.nav-menu-overlay h4 {
  text-align: left;
  font-size: 0.875rem;
  padding: 1.5625rem 2.1875rem 0rem 2.1875rem;
  margin: 0;
}

.nav-menu-overlay .categories-list {
  padding: 1rem 1.25rem;
}

.nav-menu-overlay .categories-list-item {
  padding: 0rem 1rem;
}

.nav-menu .categories-list-item {
  padding-left: 3.875rem;
}

.categories-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.75rem;
  color: var(--nav-item-color);
  border-radius: 0.75rem;
  transition: 0.1s !important;
}

.categories-list-item svg {
  opacity: 0;
  transition: 0.1s !important;
}

.nav-menu-overlay .categories-list-item:hover, .categories-list-item.active {
  text-decoration: none !important;
  color: var(--nav-category-item-active-color);
  background-color: var(--nav-item-color-hover-background);
}

.categories-list-item:hover svg, .categories-list-item.active svg {
  opacity: 1;
}

.nav-menu-page-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--page-overlay-color);
  opacity: 0;
  animation: slide-opacity 0.35s forwards;
  z-index: 2;
}

@keyframes slide-opacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}