.fields-block {
  display: flex;
  flex-direction: column;
  margin: 0rem;
  color: var(--text);
}

.fields-block.with-margin {
  margin: var(--fields-block-margin);
}

.fields-block .fields-wrap {
  margin: var(--fields-wrap-margin);
}

.fields-block .field-wrap {
  background: var(--wrap-bg);
  margin: 1rem;
  margin-left: 0rem;
  margin-right: 0rem;
  height: auto;
  min-height: 2rem;
  padding: 0.75rem 0.75rem;
  letter-spacing: 0.06em;
  line-height: 1.6;
  border-radius: var(--border-radius);
}
