.circular-progress {
  --half-size: calc(var(--size) / 2);
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * var(--pi) * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);
  animation: progress-animation 0.3s ease-in 0s 1 forwards;
}

.circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke-linecap: round;
}

.circular-progress circle.fg {
  transform: rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0.3s linear 0s;
  stroke-width: calc(var(--stroke-width) + 1px);
}

@property --progress {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

.circular-progress-caption {
  position: absolute;
  top: 0;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes progress-animation {
  from {
    --progress: 0;
  }
  to {
    --progress: var(--end-progress);
  }
}