.action-modal {
  max-width: 600px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--text);
  background-color: var(--wrap-bg);
  border-radius: var(--border-radius);
}

.action-modal .action-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-bottom: 1.5rem;
}

.action-modal .action-modal-header button {
  margin-left: auto;
}

.action-modal .action-modal-content {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.action-modal .action-modal-content button:first-child {
  margin-right: 1rem;
}
