.modal {
  width: 52.5rem;
  max-height: calc(100vh - 2.5rem);
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--text);
  background-color: var(--modal-bg);
  border-radius: 2rem;
  overflow: auto;
  z-index: 999;
}

.modal-wide {
  width: 65rem;
}

.modal .modal-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
}

.modal .modal-header h3 {
  padding-left: 24px;
  padding-top: 15px;
  font-weight: 600;
}

.modal .modal-close {
  margin-left: auto;
  background-color: var(--modal-close-button-background);
  width: 3.75rem;
  min-width: unset;
  height: 3.75rem;
  border-radius: 0;
  border-top-right-radius: 2rem;
  border: 0;
  padding: 0;
  color: var(--modal-close-button-text);
}

.modal .modal-close:hover {
  color: var(--modal-close-button-text-hover);
  background-color: var(--modal-close-button-background-hover);
}

.modal .modal-close svg {
  transition: 0.3s;
}

.modal .modal-close:hover svg {
  color: var(--white);
}

.modal .modal-content {
  padding: 0 1.5rem;
}
