button {
  color: var(--text);
  background-color: var(--button-bg);
  font-size: 0.875rem;
  border: 1px solid var(--button-border-color);
  padding: 0.25rem 1rem;
  min-width: 7.5rem;
  min-height: 2.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 300ms !important;
  border-radius: 2rem;
}

button:hover {
  border-color: var(--button-hover-border-color);
}

button.active {
  border: none;
  background-color: var(--button-active-bg);
  color: var(--button-active-color);
}

button.active:hover {
  background-color: var(--button-active-bg-hover);
}

button.active2 {
  background-color: var(--button-active2-bg);
  border-color: var(--button-active2-bg);
}

button.active2:hover {
  border-color: var(--button-hover-border-color);
}

button.danger {
  border-color: var(--button-danger-border-color);
}

button.inverted {
  background-color: var(--button-inverted-background-color);
  color: var(--button-inverted-color);
  border: none;
}

button.invertedAlternative {
  background-color: var(--button-inverted-alternative-background-color);
  color: var(--button-inverted-color);
  border: none;
}

button.invertedActive {
  background-color: var(--button-inverted-active-background-color);
  color: var(--button-inverted-active-color);
  border: none;
}

button:disabled,
button[disabled] {
  opacity: 0.45;
}

button:disabled:hover,
button[disabled]:hover {
  border-color: var(--button-border-color);
}

button.text {
  border: none;
  min-width: unset;
  background-color: inherit;
}

button.toolsPanel {
  border: none;
  min-width: unset;
  padding: 0;
  border-radius: unset;
  opacity: 0.5;
  color: var(--dark);
  background-color: var(--dark-white);
}

button.toolsPanelDanger {
  border: none;
  min-width: unset;
  padding: 0;
  border-radius: unset;
  color: var(--button-inverted-active-color);
  background-color: var(--red);
}
