.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 2048px;
  margin-right: auto;
  margin-left: auto;
}

.App-content-wrapper {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
}

.App-content-wrapper.full-screen-page {
  padding: 0rem;
  max-width: unset;
}

.App-content-wrapper .nav-menu:first-child .field-wrap {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.App-content-wrapper .nav-menu:last-child .field-wrap {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

.App-content {
  flex: 1;
}

.App-content .field-wrap {
  margin-left: 0rem;
  margin-right: 0rem;
}

footer {
  padding: 0.25rem 0rem;
  font-size: 0.75rem;
  opacity: 0.5;
}
