.App-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  max-width: 2048px;
  margin-right: auto;
  margin-left: auto;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  padding: 0rem 1rem;
}

.App.full-screen-page {
  padding: 0rem;
  max-width: unset;
}

.App .nav-menu:first-child .field-wrap {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.App .nav-menu:last-child .field-wrap {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

.App-content {
  flex: 1;
}

.App-content .field-wrap {
  margin-left: 0rem;
  margin-right: 0rem;
}

footer {
  padding: 0.25rem 0rem;
  font-size: 0.75rem;
  opacity: 0.5;
}
