.grid { display: grid; }
.grid-cols-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }
.grid-cols-questions-list { grid-template-columns: 1.5rem auto 1.125rem; }
.grid-cols-settings-list { grid-template-columns: 9.25rem auto; }
.gap-y-0\.5 { row-gap: 0.5rem; }
.gap-y-1 { row-gap: 1rem; }
.gap-12 { gap: 3rem; }
.flex { display: flex; }
.flex-1 { flex: 1 1 0%; }
.flex-col { flex-direction: column; }
.shrink-0 { flex-shrink: 0; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-end { justify-content: flex-end; }
.self-start { align-self: flex-start; }
.items-center { align-items: center; }
.items-stretch { align-items: stretch; }
.items-baseline { align-items: baseline; }
.items-end { align-items: flex-end; }
.text-blue-main { color: var(--blue-main); }
.text-blue-light { color: var(--blue-light); }
.text-blue-dark { color: var(--blue-dark); }
.text-dark { color: var(--dark); }
.text-dark-0\.5 { color: color-mix(in srgb, var(--dark), transparent 50%); }
.text-grey3 { color: var(--grey3); }
.text-grey2 { color: var(--grey2); }
.text-grey1 { color: var(--grey1); }
.text-white { color: var(--white); }
.hover\:text-red:hover { color: var(--red); }
.text-red { color: var(--red); }
.text-dark-red { color: var(--dark-red); }
.text-red-light { color: var(--red-light); }
.text-green-light { color: var(--green-light); }
.text-grey-active { color: var(--grey-active); }
.text-dark-orange { color: var(--dark-orange); }
.text-dark-grey4 { color: var(--dark-grey4); }
.text-dark-orange-light { color: var(--dark-orange-light); }
.text-dark-blue-light { color: var(--dark-blue-light); }
.text-dark-green-light { color: var(--dark-green-light); }
.text-dark-closed-light { color: var(--dark-closed-light); }
.bg-form { background-color: var(--form-bg); }
.hover\:bg-form:hover { background-color: var(--form-bg); }
.bg-wrap { background-color: var(--wrap-bg); }
.bg-button-border { background-color: var(--button-border-color) ;}
.bg-blue-main { background-color: var(--blue-main); }
.bg-blue-light { background-color: var(--blue-light); }
.\!bg-blue-light { background-color: var(--blue-light) !important; }
.bg-blue-dark { background-color: var(--blue-dark); }
.bg-dark { background-color: var(--dark); }
.\!bg-dark { background-color: var(--dark) !important; }
.bg-dark-0\.5 { background-color: color-mix(in srgb, var(--dark), transparent 50%); }
.bg-grey3 { background-color: var(--grey3); }
.bg-grey2 { background-color: var(--grey2); }
.bg-grey1 { background-color: var(--grey1); }
.bg-white { background-color: var(--white); }
.bg-red { background-color: var(--red); }
.bg-red-light { background-color: var(--red-light); }
.bg-green-light { background-color: var(--green-light); }
.bg-grey-active { background-color: var(--grey-active); }
.bg-dark-grey4 { background-color: var(--dark-grey4); }
.\!bg-dark-grey4 { background-color: var(--dark-grey4) !important; }
.bg-dark-orange { background-color: var(--dark-orange); }
.bg-dark-blue { background-color: var(--dark-blue); }
.\!bg-dark-blue { background-color: var(--dark-blue) !important; }
.bg-dark-green { background-color: var(--dark-green); }
.bg-dark-closed { background-color: var(--dark-closed); }
.bg-dark-orange-0\.25 { background-color: color-mix(in srgb, var(--dark-orange), transparent 75%); }
.bg-dark-blue-0\.25 { background-color: color-mix(in srgb, var(--dark-blue), transparent 75%); }
.bg-dark-green-0\.25 { background-color: color-mix(in srgb, var(--dark-green), transparent 75%); }
.bg-dark-disable { background-color: var(--dark-disable); }
.bg-dark-dark1 { background-color: var(--dark-dark1); }
.bg-dark-dark2 { background-color: var(--dark-dark2); }
.bg-modal-bg { background-color: var(--modal-bg); }
.bg-dark-input { background-color: var(--dark-input); }
.bg-room-tools-panel-bg { background-color: var(--room-tools-panel-bg); }
.bg-dark-history-hover { background-color: var(--dark-history-hover); }
.bg-dark-active { background-color: var(--dark-active); }
.bg-dark-red { background-color: var(--dark-red); }
.hover\:bg-blue-main:hover { background-color: var(--blue-main); }
.hover\:bg-blue-light:hover { background-color: var(--blue-light); }
.hover\:bg-blue-dark:hover { background-color: var(--blue-dark); }
.hover\:bg-dark:hover { background-color: var(--dark); }
.hover\:bg-grey3:hover { background-color: var(--grey3); }
.hover\:bg-grey2:hover { background-color: var(--grey2); }
.hover\:bg-grey1:hover { background-color: var(--grey1); }
.hover\:bg-white:hover { background-color: var(--white); }
.hover\:bg-red:hover { background-color: var(--red); }
.hover\:bg-red-light:hover { background-color: var(--red-light); }
.hover\:bg-green-light:hover { background-color: var(--green-light); }
.hover\:bg-grey-active:hover { background-color: var(--grey-active); }
.hover\:bg-dark-history-hover:hover { background-color: var(--dark-history-hover); }
.hover\:bg-dark-active:hover { background-color: var(--dark-active); }
.border { border-width: 1px; }
.border-solid { border-style: solid; }
.border-button { border-color: var(--button-border-color); }
.rounded-full { border-radius: 9999px; }
.rounded-0\.375 { border-radius: 0.375rem; }
.rounded-0\.5 { border-radius: 0.5rem; }
.rounded-0\.75 { border-radius: 0.75rem; }
.rounded-1\.25 { border-radius: 1.25rem; }
.rounded-1\.125 { border-radius: 1.125rem; }
.rounded-2 { border-radius: 2rem; }
.rounded-t-0\.75 { border-top-left-radius: 0.75rem !important; border-top-right-radius: 0.75rem !important; }
.rounded-b-0\.75 { border-bottom-left-radius: 0.75rem !important; border-bottom-right-radius: 0.75rem !important; }
.rounded-br-0 { border-bottom-right-radius: 0; }
.first-button\:rounded-t-0\.75 button:first-of-type { border-top-left-radius: 0.75rem !important; border-top-right-radius: 0.75rem !important; }
.last-button\:rounded-b-0\.75 button:last-of-type { border-bottom-left-radius: 0.75rem !important; border-bottom-right-radius: 0.75rem !important; }
.rounded-l-2 { border-top-left-radius: 2rem; border-bottom-left-radius: 2rem; }
.rounded-r-2 { border-top-right-radius: 2rem; border-bottom-right-radius: 2rem; }
.border-none { border: none; }
.p-0 { padding: 0rem; }
.p-0\.25 { padding: 0.25rem; }
.p-0\.375 { padding: 0.375rem; }
.p-0\.5 { padding: 0.5rem; }
.p-0\.625 { padding: 0.625rem; }
.py-0\.125 { padding-top: 0.125rem; padding-bottom: 0.125rem; }
.py-0\.25 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.py-0\.375 { padding-top: 0.375rem; padding-bottom: 0.375rem; }
.py-0\.5 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.py-0\.625 { padding-top: 0.625rem; padding-bottom: 0.625rem; }
.py-1\.25 { padding-top: 1.25rem; padding-bottom: 1.25rem; }
.py-1\.5 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.py-1\.75 { padding-top: 1.75rem; padding-bottom: 1.75rem; }
.px-0\.375 { padding-left: 0.375rem; padding-right: 0.375rem; }
.px-0\.5 { padding-left: 0.5rem; padding-right: 0.5rem; }
.px-0\.75 { padding-left: 0.75rem; padding-right: 0.75rem; }
.px-1 { padding-left: 1rem; padding-right: 1rem; }
.px-1\.125 { padding-left: 1.125rem; padding-right: 1.125rem; }
.px-1\.25 { padding-left: 1.25rem; padding-right: 1.25rem; }
.px-1\.5 { padding-left: 1.5rem; padding-right: 1.5rem; }
.px-5 { padding-left: 5rem; padding-right: 5rem; }
.pr-0\.25 { padding-right: 0.25rem; }
.pr-0\.5 { padding-right: 0.5rem; }
.pr-1 { padding-right: 1rem; }
.pr-1\.5 { padding-right: 1.5rem; }
.pr-2 { padding-right: 2rem; }
.pr-4 { padding-right: 4rem; }
.pb-0\.25 { padding-bottom: 0.25rem; }
.pb-1\.5 { padding-bottom: 1.5rem; }
.m-0 { margin: 0px; }
.mt-auto { margin-top: auto; }
.mb-auto { margin-bottom: auto; }
.ml-auto { margin-left: auto; }
.\!mt-0 { margin-top: 0px !important; }
.ml-auto { margin-left: auto; }
.mr-0\.25 { margin-right: 0.25rem; }
.mr-0\.5 { margin-right: 0.5rem; }
.mr-1 { margin-right: 1rem; }
.mr-4\.875 { margin-right: 4,875rem; }
.cursor-pointer { cursor: pointer; }
.cursor-move { cursor: move; }
.absolute { position: absolute; }
.relative { position: relative; }
.sticky { position: sticky; }
.visible { visibility: visible; }
.invisible { visibility: hidden; }
.top-0 { top: 0px; }
.bottom-0 { bottom: 0px; }
.overflow-auto { overflow: auto; }
.overflow-hidden { overflow: hidden; }
.overflow-y-auto { overflow-y: auto; }
.overflow-x-hidden { overflow-x: hidden; }
.whitespace-nowrap { white-space: nowrap; }
.text-ellipsis { text-overflow: ellipsis; }
.min-w-fit { min-width: fit-content; }
.min-w-unset { min-width: unset; }
.min-h-unset { min-height: unset; }
.min-h-4 { min-height: 4rem; }
.w-fit { width: fit-content; }
.w-full { width: 100%; }
.w-0\.75 { width: 0.75rem; }
.w-1 { width: 1rem; }
.w-1\.125 { width: 1.125rem; }
.w-1\.25 { width: 1.25rem; }
.w-1\.375 { width: 1.375rem; }
.w-1\.75 { width: 1.75rem; }
.w-1\.875 { width: 1.875rem; }
.w-2\.125 { width: 2.125rem; }
.w-2\.25 { width: 2.25rem; }
.w-2\.375 { width: 2.375rem; }
.w-2\.5 { width: 2.5rem; }
.w-4 { width: 4rem; }
.w-6\.875 { width: 6.875rem; }
.w-7\.5 { width: 7.5rem; }
.w-9 { width: 9rem; }
.w-13\.75 { width: 13.75rem; }
.max-w-12 { max-width: 12rem; }
.max-w-15\.75 { max-width: 15.75rem; }
.max-w-29\.25 { max-width: 29.25rem; }
.w-17\.25 { width: 17.25rem; }
.w-17\.375 { width: 17.375rem; }
.w-18\.125 { width: 18.125rem; }
.w-20 { width: 20rem; }
.\!w-21 { width: 21rem !important; }
.w-22 { width: 22rem; }
.w-23\.125 { width: 23.125rem; }
.w-25 { width: 25rem; }
.w-37 { width: 37rem; }
.w-38\.375 { width: 38.375rem; }
.h-fit { height: fit-content; }
.h-full { height: 100%; }
.h-dvh { height: 100dvh; }
.h-0\.125 { height: 0.125rem; }
.h-0\.75 { height: 0.75rem; }
.h-1 { height: 1rem; }
.h-1\.125 { height: 1.125rem; }
.h-1\.25 { height: 1.25rem; }
.h-1\.375 { height: 1.375rem; }
.h-1\.75 { height: 1.75rem; }
.h-1\.875 { height: 1.875rem; }
.h-2\.125 { height: 2.125rem; }
.h-2\.25 { height: 2.25rem; }
.h-2\.375 { height: 2.375rem; }
.h-2\.5 { height: 2.5rem; }
.h-3\.625 { height: 3.625rem; }
.h-4 { height: 4rem; }
.h-6\.25 { height: 6.25rem; }
.h-6\.875 { height: 6.875rem; }
.h-9\.375 { height: 9.375rem; }
.h-25 { height: 25rem; }
.h-28 { height: 28rem; }
.h-32\.25 { height: 32.25rem; }
.max-h-20 { max-height: 20rem; }
.h-full { height: 100%; }
.z-1 { z-index: 1; }
.z-50 { z-index: 50; }
.translate-x-0\.75-y--0\.75 { transform: translate(0.75rem, -0.75rem) !important; }
.translate-x--4\.25-y-0\.25 { transform: translate(-4.25rem, 0.25rem) !important; }
.translate-x--11\.375-y-0\.25 { transform: translate(-11.375rem, 0.25rem) !important; }
.translate-x--14\.25-y--6\.75 { transform: translate(-14.25rem, -6.75rem) !important; }
.translate-y-0\.25 { transform: translateY(0.25rem); }
.rotate-90 { transform: rotate(90deg); }
.rotate-180 { transform: rotate(180deg); }
.shadow { box-shadow: 0px 4px 12px var(--shadow); }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
.opacity-0 { opacity: 0; }
.opacity-0\.5 { opacity: 0.5; }
.opacity-0\.65 { opacity: 0.65; }
.backdrop-blur { backdrop-filter: blur(6px); }
.blur-lg { filter: blur(16px); }
.origin-bottom { transform-origin: bottom; }
.transition-none { transition-property: none; }
.\!transition { transition: background-color 300ms, border-color 300ms, transform 300ms !important; }
.capitalize { text-transform: capitalize; }
.select-none { user-select: none; }
.border { border-width: 1px; }
.border-b-1 { border-bottom-width: 1px; }
.border-grey-active { border-color: var(--grey-active); }
.border-grey-3 { border-color: var(--grey3); }
.border-red { border-color: var(--red); }
.border-dark-red { border-color: var(--dark-red); }
.border-button-border { border-color: var(--button-border-color); }
.border-solid { border-style: solid; }
.border-b-solid { border-bottom-style: solid; }
.no-underline { text-decoration-line: none; }
.box-border { box-sizing: border-box; }
.object-cover { object-fit: cover; }
.break-all { word-break: break-all; }
