:root {
  --pi: 3.14159265358979;

  --blue-main: #0666E2;
  --blue-light: #EBF2FF;
  --blue-dark: #0058CA;
  --dark: #24243A;
  --dark-dark1: #172849;
  --dark-dark2: #101E36;
  --dark-dark-button: #404B65;
  --grey3: #838AA4;
  --grey2: #C3CBDF;
  --grey1: #F5F6F8;
  --white: #FFFFFF;
  --red: #D91404;
  --red-light: #F8E5E4;
  --green-light: #E9F8E7;
  --grey-active: #F1F3F8;
  --dark-grey4: #5A709C;
  --dark-white: #FAFAFA;
  --dark-orange: #E94D2B;
  --dark-orange-light: #E09E6D;
  --dark-blue: #0666E2;
  --dark-blue-light: #579EF9;
  --dark-green: #3FA96A;
  --dark-green-light: #3FA96A;
  --dark-closed: #273654;
  --dark-closed-light: #8B9FC7;
  --dark-history-hover: #152643;
  --dark-active: #3A5281;
  --dark-disable: #182947;
  --dark-input: #4C556B;
  --dark-red: #E0473A;

  --text: var(--dark-white);
  --page-bg: #0B1529;
  --form-bg: var(--page-bg);
  --wrap-bg: var(--dark-dark2);
  --active: #b9221c;
  --disabled-icon: #b9221c;
  --active-nav-tab: var(--dark-active);
  --nav-header-color: var(--text);
  --nav-item-color: var(--dark-grey4);
  --nav-item-color-hover-background: var(--dark-active);
  --nav-item-active-background: var(--active-nav-tab);
  --nav-item-active-color: var(--text);
  --nav-category-item-active-color: var(--nav-item-active-color);
  --shadow: #100908;
  --bg: #400000;
  --bg-success: #103000;
  --progress-bg: var(--shadow);
  --progress-1: var(--active);
  --progress-2: var(--form-bg);
  --menu-font-size: 1.15rem;
  --menu-line-height: calc(var(--menu-font-size) * 1.4);
  --button-border-color: var(--dark-white);
  --button-bg: #293550;
  --button-active-color: var(--dark-white);
  --button-active-bg: var(--blue-main);
  --button-active2-bg: var(--dark-active);
  --button-active-bg-hover: #4096FF;
  --button-bg-active: var(--active);
  --button-hover-border-color: var(--text);
  --button-danger-border-color: var(--active);
  --button-inverted-background-color: var(--dark-dark-button);
  --button-inverted-alternative-background-color: var(--wrap-bg);
  --button-inverted-color: var(--text);
  --button-inverted-active-background-color: var(--grey3);
  --button-inverted-active-color: var(--text);
  --modal-close-button-background: var(--dark-dark1);
  --modal-close-button-background-hover: var(--active);
  --modal-close-button-text: var(--text);
  --modal-close-button-text-hover: var(--text);
  --list-border-color: #444;
  --tab-border-color: var(--list-border-color);
  --active-tab-color: #5993FF;
  --border-radius: 0.5rem;
  --fields-block-margin: 0rem 1rem;
  --fields-wrap-margin: 0rem 0rem;
  --nav-menu-margin-horizontal: -2.5rem;
  --chat-width: 19.5rem;
  --fadeIn-animation: fadeIn 300ms;
  --fadeIn-animation-fast: fadeIn 100ms;
  --fadeOutUp-animation: 1s fadeOutUp both;
  --page-overlay-color: rgba(36, 36, 58, 0.5);
  --slider-checked: var(--blue-main);
  --modal-bg: #293550;
  --input-border-color: #424242;
  --room-tools-panel-bg: #0B152940;
  --code-editor-tools-panel-bg: #233149;
  --code-editor-select-border: var(--dark-input);
  --toast-success: var(--dark-green);
  --toast-error: var(--dark-red);
}

:root[data-theme="Light"] {
  --text: #1F1F1F;
  --page-bg: var(--grey1);
  --wrap-bg: #FFF;
  --active-nav-tab: #D9D9D9;
  --nav-header-color: var(--dark);
  --nav-item-color: var(--grey3);
  --nav-item-color-hover-background: var(--grey-active);
  --nav-item-active-background: var(--dark);
  --nav-item-active-color: var(--white);
  --nav-category-item-active-color: var(--nav-item-color);
  --bg-success: #00B96B;
  --shadow: rgba(200, 200, 200, 0.5);

  --button-border-color: var(--grey2);
  --button-bg: #FFF;
  --button-active-color: var(--button-bg);
  --button-active2-bg: var(--blue-light);
  --button-active-bg: var(--blue-main);
  --button-active-bg-hover: var(--blue-dark);
  --button-bg-active: var(--active);
  --button-hover-border-color: var(--grey3);
  --button-danger-border-color: var(--active);
  --button-inverted-background-color: var(--grey1);
  --button-inverted-alternative-background-color: var(--white);
  --button-inverted-color: var(--dark);
  --button-inverted-active-background-color: var(--dark);
  --button-inverted-active-color: var(--white);
  --modal-close-button-background: var(--grey1);
  --modal-close-button-background-hover: var(--red);
  --modal-close-button-text: var(--grey3);
  --modal-close-button-text-hover: var(--white);
  --slider-checked: var(--bg-success);
  --modal-bg: var(--wrap-bg);
  --input-border-color: var(--grey2);
  --code-editor-tools-panel-bg: var(--white);
  --code-editor-select-border: var(--input-border-color);
  --toast-success: var(--green-light);
  --toast-error: var(--red-light);
}

:root[data-color-transition="enabled"] * {
  transition: background-color 300ms, border-color 300ms, transform 300ms;
}

:root[data-color-transition="enabled"] .move-transition {
  transition: background-color 300ms, border-color 300ms, padding-left 200ms, width 200ms;
}

@media screen and (max-width: 1100px) {
  :root {
    --chat-width: 14rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-3.5rem);
  }
}

body {
  margin: 0;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  background-color: var(--page-bg);

  font-size: 16px;
  font-weight: 400;
}

a {
  color: var(--text);
  text-decoration: underline;
}

table {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

table td,
th {
  padding: 0.75rem 0rem;
  padding-left: 0.75rem;
  padding-right: 1rem;
}

table th {
  background-color: var(--active-nav-tab);
}

table td {
  background-color: var(--active-nav-tab);
}

textarea,
input[type="text"],
input[type="color"],
input[type="date"],
input[type="time"] {
  font-size: 0.875rem;
  color: var(--text);
  background-color: var(--wrap-bg);
  border: 1px solid var(--input-border-color);
  border-radius: 1.125rem;
  padding: 0.5rem 1rem;
}

input[type="color"] {
  background-color: var(--form-bg);
}

h2 {
  margin: 0px;
  font-size: 1.25rem;
}

h3 {
  margin: 0px;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
  line-height: var(--menu-line-height) !important;
  color: var(--text);
}

p {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

select {
  background-color: var(--wrap-bg);
  color: var(--text);
  margin-left: 6px;
  font-size: 0.875rem;
  border: 1px solid var(--input-border-color);
  border-radius: 2rem;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  margin: 0;
}

progress {
  appearance: none;
  display: block;
}

progress::-moz-progress-bar { background: var(--button-active-bg); }

progress::-webkit-progress-bar {background-color: var(--wrap-bg);}
progress::-webkit-progress-value {background-color: var(--button-active-bg) !important;}
progress[value] {-webkit-appearance: none;}

textarea {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border-color: var(--input-border-color);
  resize: none;
}

::placeholder {
  color: var(--text);
  opacity: 0.75; /* Firefox */
}
