.categories-list {
  font-size: 0.875rem;
}

.categories-list .categories-list-item {
  cursor: pointer;
}

.categories-list .categories-list-item:hover {
  text-decoration: underline;
}

.categories-list .loader-wrapper {
  height: 2rem;
}
