.rooms-page .items-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(17.125rem, 1fr));
}

.rooms-page .room-item-wrapper {
  background: var(--wrap-bg);
  border-radius: var(--border-radius);
}

.rooms-page .room-item-wrapper.room-item-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10.9375rem;
}

.rooms-page .room-item-wrapper a {
  text-decoration: none;
}

.rooms-page .items-grid .room-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 0.875rem;
}

.room-item .room-status-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  padding-bottom: 1.5rem;
}

.room-item .room-status-wrapper .icon {
  font-size: 1.125rem;
}

.room-item .room-status {
  background-color: var(--button-border-color);
  border-radius: var(--border-radius);
  padding: 0.125rem 0.375rem;
}
