.rooms-page .room-actions {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
}

.rooms-page .items-grid .room-item {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  margin: 0rem 1rem;
}

.rooms-page .items-grid .room-link {
  flex: 1;
  align-self: flex-start;
  font-size: var(--menu-font-size);
}

.rooms-page .items-grid .room-status {
  font-size: 0.75rem;
}

.rooms-page .items-grid .room-tags {
  flex: 1;
  text-align: right;
  margin-top: 0.5rem;
}

.rooms-page .items-grid .room-edit-participants-link {
  font-size: 0.75rem;
  opacity: 0.75;
}

.rooms-page .items-grid .room-action-links {
  display: flex;
  flex-direction: column;
}

.rooms-page .items-grid .field-wrap {
  height: 4rem;
}
