.questions-selector {
  padding: 0px;
  list-style-type: none;
}

.questions-selector label {
  cursor: pointer;
}

.questions-selector .questions-selector-item .questions-selector-item-tag {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-right: 0.5rem;
}

.questions-selector .questions-selector-item .questions-selector-item-tag::after {
  content: ",";
}

.questions-selector .questions-selector-item .questions-selector-item-tag:last-child::after {
  content: "";
  margin-right: 0px;
}

.questions-selector .questions-selector-item .questions-selector-item-tag:last-child {
  margin-right: 0px;
}
