.switcher-button button {
  position: relative;
}

.switcher-button button:first-child:not(.invertedActive) {
  border-right: unset;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 1;
}

.switcher-button button:first-child {
  padding-right: 1.5rem;
}

.switcher-button button:last-child {
  transform: translateX(-1rem);
  padding-left: 1.5rem;
  margin-right: -1rem;
}

.switcher-button button:last-child:not(.invertedActive) {
  border-left: unset;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 1;
}

.switcher-button button.invertedActive {
  z-index: 2;
}
